<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>table -- controller inside directive</title>
	<script src="../library/angular.min.js"></script>
	<link rel="stylesheet" href="../library/bootstrap.min.css"/>
</head>

<body ng-app="myApp">
    <div ng-controller="mainCtrl">
        <custom-table></custom-table>
    </div>
</div>
	
	<script>
		//http://jsfiddle.net/Vwsej/2/
		app = angular.module('myApp', [])
		
		app.controller('mainCtrl', function($scope) {
			 $scope.items = [{
				Name: "Soap",
				Price: "25",
				Quantity: "10"
			}, {
				Name: "Bag",
				Price: "100",
				Quantity: "15"
			}, {
				Name: "Pen",
				Price: "15",
				Quantity: "13"
			}];
		});

		app.directive("customTable", function($compile) {
			return {
				restrict: 'E',
				template: 
				  '<table class="table table-bordered">' +
					'<thead>' +
						'<tr>' +
							'<th ng-repeat="(key, val) in items[0]">{{key}}</th>' +
						'</tr>' +
					'</thead>' +
					   
					   '<tbody>' +
						  '<tr ng-repeat="row in items">' +
							'<td ng-repeat="(key, val) in row">{{val}}</td>' +
						  '</tr>' +
						'</tbody>' +
				  '</table>',
				//replace: true,
				//link: function (scope, element, attrs) {}
			};
		});
	</script>

</body>

</html>